<footer class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h4>HO CHI MINH UNIVERSITY OF EDUCATION</h4>
            <ul>
                <li><i class="fas fa-building"></i> 280 An Duong Vuong Street, District 5, Ho Chi Minh City</li>
                <li><i class="fas fa-building"></i> 222 Le Van Sy Street, District 3, Ho Chi Minh City</li>
                <li><i class="fas fa-phone-alt"></i> (+84) - (28) - 38352020 </li>
                <li><i class="fas fa-clock"></i> 8:00 A.M - 4:00 P.M</li>
            </ul>
        </div>
        <div class="col-4 txt-center">
            <h5>EVENTS</h5>
            <ul>
                <li><a href="#">VietNam National Day 02/09</a></li>
                <li><a href="#">VietNam Women's Day 20/10</a></li>
                <li><a href="#">University of Education's Birthday 27/10</a></li>
                <li><a href="#">VietNam Teacher's Day 20/11</a></li>
            </ul>
        </div>
        <div class="col-4 txt-right">
            <h5>CONTACT</h5>
            <ul>
                <li><a href="#">Registration for study in HCMUE</a></li>
                <li><a href="#">Registration for studying abroad</a></li>
                <li><a href="#">About graduation</a></li>
                <li><a href="#">Email contact</a></li>
            </ul>
        </div>
    </div>
</footer>

