<div class="container-fluid body">
  <div class="row">
    <div class="col-2">
      <app-banner></app-banner>
    </div>
    <div class="col-7 events">
      <div class="w100 blck event">
        <img src="{{imageUrl}}tuky.jpg">
        <div class="event__info">
          <a routerLink="/events/detail/10" class="event__info__name">OPENING CLASS FOR HANDICAP CHILDREN (12/15)</a>
          <ul>
            <li>12/15/2019 - 12/16/2019</li>
            <li>280 An Duong Vuong Street, District 5, Ho Chi Minh City</li>
            <li>We are going to opening class for handicap children</li>
          </ul>
          <a href="#" class="button button--blue">More info</a>
        </div>
      </div>
     
      <div class="w100 blck event">
        <img src="{{imageUrl}}college.jpg">
        <div class="event__info">
          <a routerLink="/events/detail/10" class="event__info__name">TUTORIAL DAY FOR NEW STUDENT (12/16)</a>
          <ul>
            <li>12/16/2019 - 12/17/2019</li>
            <li>280 An Duong Vuong Street, District 5, Ho Chi Minh City</li>
            <li>A new season begin, a lot of things that you need to know to going school.</li>
          </ul>
          <a href="#" class="button button--blue">More info</a>
        </div>
      </div>

      <div class="w100 blck event">
        <img src="{{imageUrl}}graduation.jpg">
        <div class="event__info">
          <a routerLink="/events/detail/10" class="event__info__name">GRADUATION CELEBRATE 2019 - 2020 (12/17)</a>
          <ul>
            <li>12/15/2019 - 12/16/2019</li>
            <li>280 An Duong Vuong Street, District 5, Ho Chi Minh City</li>
            <li>Woo hoo! Finally 6 years study in college are done ! Go with us to the celebrating and have fun</li>
          </ul>
          <a href="#" class="button button--blue">More info</a>
        </div>
      </div>

      <div class="w100 blck event">
        <img src="{{imageUrl}}tuky.jpg">
        <div class="event__info">
          <a routerLink="/events/detail/10" class="event__info__name">OPENING CLASS FOR HANDICAP CHILDREN (12/15)</a>
          <ul>
            <li>12/15/2019 - 12/16/2019</li>
            <li>280 An Duong Vuong Street, District 5, Ho Chi Minh City</li>
            <li>We are going to opening class for handicap children</li>
          </ul>
          <a href="#" class="button button--blue">More info</a>
        </div>
      </div>
     
      <div class="w100 blck event">
        <img src="{{imageUrl}}college.jpg">
        <div class="event__info">
          <a routerLink="/events/detail/10" class="event__info__name">TUTORIAL DAY FOR NEW STUDENT (12/16)</a>
          <ul>
            <li>12/16/2019 - 12/17/2019</li>
            <li>280 An Duong Vuong Street, District 5, Ho Chi Minh City</li>
            <li>A new season begin, a lot of things that you need to know to going school.</li>
          </ul>
          <a href="#" class="button button--blue">More info</a>
        </div>
      </div>

      <div class="w100 blck event">
        <img src="{{imageUrl}}graduation.jpg">
        <div class="event__info">
          <a routerLink="/events/detail/10" class="event__info__name">GRADUATION CELEBRATE 2019 - 2020 (12/17)</a>
          <ul>
            <li>12/15/2019 - 12/16/2019</li>
            <li>280 An Duong Vuong Street, District 5, Ho Chi Minh City</li>
            <li>Woo hoo! Finally 6 years study in college are done ! Go with us to the celebrating and have fun</li>
          </ul>
          <a href="#" class="button button--blue">More info</a>
        </div>
      </div>
    </div><!-- end of col-7 -->

    <div class="col-3">
      <form class="blck w100 event__register">
        <div class="w100 blck txt-center"><h3 class="event__register__title">JOIN UPCOMING EVENT</h3></div>
        <div class="form-row">
          <ul>
            <li><i class="fas fa-gift"></i> Viet Nam Celebarting Day 12/15/2019</li>
            <li><i class="fas fa-clock"></i> 12/15/2019 - 12/16/2019</li>
            <li><i class="fas fa-building"></i> Floor 5th, building B, 280 An Duong Vuong Street, District 5 , Ho Chi Minh City</li>
          </ul>
        </div>
        <div class="form-row">
          <div class="col-lg-4 col-12 form-group">
            <label>First Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-lg-4 col-12 form-group">
            <label>Middle Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-lg-4 col-12 form-group">
            <label>Last Name</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label>Phone Number</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group"><button type="submit" class="button button--joinevent">I'm In !</button></div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="blck w100 txt-center pagination">
        <a href="#" class="arrow"><i class="fas fa-angle-double-left"></i></a>
        <a href="#" class="arrow"><i class="fas fa-angle-left"></i></a>
        <a href="#" class="pagi pagi--active">1</a>
        <a href="#" class="pagi">2</a>
        <a href="#" class="pagi">3</a>
        <a href="#" class="pagi">4</a>
        <a href="#" class="pagi">5</a>
        <a href="#" class="pagi">6</a>
        <a href="#" class="pagi">7</a>
        <a href="#" class="pagi">8</a>
        <a href="#" class="pagi">9</a>
        <a href="#" class="pagi">10</a>
        <a href="#" class="arrow"><i class="fas fa-angle-right"></i></a>
        <a href="#" class="arrow"><i class="fas fa-angle-double-right"></i></a>
    </div>
  </div>
</div>
<app-other-post></app-other-post>