<div class="blck w100 bigvideo">
    <video id="myVideo" autoplay loop>
        <source src="../../../../assets/videos/hcmue1.mp4" type="video/mp4" > 
    </video>
    <script type="text/javascript" sync>
        $(document).ready(autoPlayVideo());
    </script>
    <div class="txt-center bigvideo__slogan">
        <h1>HO CHI MINH UNIVERSITY OF EDUACTION</h1>
        <h3>280 An Duong Vuong Street - District 5 - Ho Chi Minh City</h3>
        <a href="./aboutus" class="button button--blue">About Us</a>
    </div>
</div>
