<div class="body">
    <app-bigvideo></app-bigvideo>
    <div class="blck w100 introduce txt-center">
        <div class="container">
            <h1>INTERNATIONAL COOPERATION</h1>
            <hr>
            <div class="row introduce__icons">
                <div class="col-4">
                    <img src="{{imageUrl}}handshake.png">
                </div>
                <div class="col-4">
                    <img src="{{imageUrl}}student.png">
                </div>
                <div class="col-4">
                    <img src="{{imageUrl}}email.png">
                </div>
            </div>
            <div class="row introduce__text">
                <div class="col-4">
                    This is an icon about two peoples shaking hand to show that they are willing to cooperation
                </div>
                <div class="col-4">
                    This is an icon about two students graduated from HCMUE
                </div>
                <div class="col-4">
                    This is an icon about email show that we will read your mail if you send us
                </div>
            </div>
        </div>
    </div>
    
</div>